{{!< default}}
{{#get "posts"}}
<div class="inner posts">
    <div class="post-feed">
        {{#foreach posts}}
            <section id="{{comment_id}}" class="{{post_class}}" style="background-color: aquamarine; padding-left: 0.9em; padding-bottom: 0.1em; padding-top: 0.1em; padding-right: 0.9em;border-radius: 0.9em;margin-bottom: 1em;">
                <h3 class="post-title"><a href="{{url}}">{{title}}</a></h3>
                <a href="{{url}}" style="font: inherit;">{{excerpt}}</a>
                {{!-- <p style="font: menu; font-family: initial;">{{date published_at format='MMMM D, YYYY'}}<span class="taglist">{{tags separator=" " prefix=" &middot; "}}</span>{{#if featured}}<span class="separator"> &middot; </span><i class="fa fa-star-o feature-star"></i>{{/if}}</p> --}}
                <p style="font: initial; font-family: monospace;" >{{reading_time}}</p>
            {{!-- <span class="separator"> &middot; </span> --}}

            </section>
        {{/foreach}}
    </div>
</div>
{{pagination}}
{{/get}}